<h1 class="title-section" [class.animated]="isAnimated">{{ title }}</h1>
<div class="sep" [class.animated]="isAnimated"></div>

@if (selectedProject) {
  <app-project-page [data]="selectedProject" (back)="backToPortfolio()"></app-project-page>
} @else {
  <div class="projects-tag mb-5">
    <ul>
      <li [class.active]="selectedCategory === 'All'" (click)="filterByCategory('All')">All</li>
      @for (category of categoriesWithProjects; track category.name) {
        <li
          [class.active]="selectedCategory === category.name"
          (click)="filterByCategory(category.name)"
        >
          {{ category.name }}
        </li>
      }
    </ul>
  </div>
  <div class="projects-container">
    @for (category of categoriesWithProjects; track category.name) {
      @if (selectedCategory === 'All' || selectedCategory === category.name) {
        @for (project of category.projects; track project.title) {
          <app-project
            [project]="project"
            (click)="selectProject(project)"
            style="cursor: pointer"
          ></app-project>
        }
      }
    }
  </div>
}
