svg {
  fill: var(--color-brown);
}
h3 {
  font-size: 1.2rem;
  font-weight: 500;

}
.card-content {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
  align-items: flex-start;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
}
.entity {
  color: var(--color-brown);
}

.date {
  align-self: flex-end;
  white-space: nowrap;
  margin-top: 0.1rem;
  color: var(--color-text-secondary);
}