<div class="project-container">
    <div class="project-container-title">
        <h2 class="project-title">{{ data?.title }}</h2>
        <div class="project-tags">
            @for(tag of data?.tags; track tag) {
                <span class="project-tag">{{ tag }}</span>
            }
        </div>
    </div>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates soluta nobis voluptatibus animi eveniet dolorum blanditiis reprehenderit recusandae fugit non, molestias quae ab nulla deleniti accusantium ea illum at exercitationem.
Quidem quam, rerum voluptate eum fuga quas, voluptates reiciendis earum exercitationem nesciunt quaerat fugiat dolores suscipit perferendis obcaecati ut perspiciatis dolorem esse ea deserunt qui omnis et assumenda! Exercitationem, quam.
Laudantium, excepturi! Est exercitationem ipsum ratione placeat voluptas adipisci quidem, saepe ea molestiae eveniet unde repellat? Error, nihil necessitatibus, pariatur eveniet unde harum sit praesentium, quis laborum eum excepturi reiciendis?
Recusandae voluptatum nam sapiente ipsa dolorem ratione officiis ab repudiandae ducimus laborum expedita doloremque cupiditate tempore eligendi quibusdam accusamus tempora ut, magnam, fugit repellendus nisi numquam. Nemo explicabo praesentium distinctio.
Ipsam facilis quis reprehenderit? Magni consequatur asperiores quas quibusdam ad illum recusandae veniam cum laudantium sunt? Voluptatibus error cum aut asperiores cupiditate expedita assumenda libero. Consequatur adipisci illum facere dolores!
Nisi aspernatur iusto et officiis sapiente id eum tempore aliquam, magnam consectetur? Enim error ducimus aspernatur aut dolores ut totam. Aliquam ipsa natus soluta ex esse ullam earum tempora eius?
Et animi hic dolores adipisci, fugit recusandae iure autem ducimus dicta voluptatibus explicabo, nobis repellat, id facilis laudantium soluta ipsum aliquid reprehenderit atque quae saepe asperiores. Ut sint architecto asperiores?
Animi, nisi. At aliquam laudantium ipsam vel adipisci rem quos repudiandae quasi ea. Quae, rerum. Natus ratione ipsum quas, ducimus reprehenderit iure repellat distinctio voluptate numquam error odit, adipisci dolor.
Corporis porro consequatur voluptatem expedita dolores amet perferendis, qui sunt minima eveniet mollitia hic distinctio? Temporibus enim repellat ex, amet minus saepe eum blanditiis eveniet perspiciatis asperiores voluptatem mollitia quibusdam!
Incidunt itaque suscipit perspiciatis excepturi nesciunt voluptatem rem quia, quos qui cum error, cumque eius enim sit eos fuga voluptates velit? Voluptatum ullam aspernatur placeat nostrum similique, qui architecto officia.</p>
</div>


