.project-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.project-container-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

h2 {
  font-size: 1.3rem;
  font-weight: 750;
}

.back-button {
    display: flex;
    align-items: center;
    color: #999;
    gap: 5px;
    font-size: 1.1rem;
}

.back-button-text {
    display: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 800,
  'GRAD' 0,
  'opsz' 24
}

.project-title-separator {
    flex-grow: 1;
    height: 1px;
    background-color: var(--color-brown);
    margin: 10px 0px;
    opacity: 0.45;
    animation: width-open 0.6s ease-in-out 1.5s forwards;
    transform-origin: left;
    width: 0;
}

@keyframes width-open {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.project-tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.project-tag{
    border-radius: 7px;
    font-size: 0.7rem;
    padding: 3px 8px;
    border: solid 0.5px white;
    opacity: 0.5;
}