img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 125px;
  border-radius: 15px;
  object-position: center;
  box-shadow:
    2px 2px 5px rgba(0, 0, 0, 0.6),
    -1px 1px rgba(255, 255, 255, 0.1) inset;
  padding: 2px;
  background-color: #44444485;
}

.job {
  padding: 5px 20px;
  border-radius: 10px;
  background-color: #444;
  font-size: 0.8rem;
  font-weight: 400;
}
hr {
  width: 100%;
  border-color: #666;
}
.scroll-bar {
  overflow-y: auto;
  max-height: 300px;
}
.scroll-bar::-webkit-scrollbar {
  width: 4px; /* Ancho de la barra de desplazamiento */
}

.scroll-bar::-webkit-scrollbar-track {
  background: #414141; /* Color de la pista de la barra de desplazamiento */
}

.scroll-bar::-webkit-scrollbar-thumb {
  background: #888; /* Color del control deslizante de la barra de desplazamiento */
}

.scroll-bar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color del control deslizante de la barra de desplazamiento al pasar el mouse */
}

@media (max-width: 883px) {
  img {
    margin: auto;
    margin-bottom: 15px;
  }
  h1 {
    text-align: center;
    margin-bottom: 15px;
  }
  .job {
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
  }
}
