h1{
    font-weight: 650;
    font-size: 1.2rem;
}

img{
    aspect-ratio: 4 / 3;
    object-fit: cover;
    -webkit-box-shadow: -2px 2px 20px rgba(0, 0, 0, 0.4), -1px 1px rgba(255, 255, 255, 0.1) inset;
    -moz-box-shadow: -2px 2px 20px rgba(0, 0, 0, 0.4), -1px 1px rgba(255, 255, 255, 0.1) inset;
    box-shadow: -2px 2px 20px rgba(0, 0, 0, 0.4), -1px 1px rgba(255, 255, 255, 0.1) inset;
    transition: transform 0.3s ease;
}

.tag{
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--color-text-secondary);
}

.img-container{
    width: 100%;
    aspect-ratio: 4 / 3;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}
.hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.8s ease;
    cursor: pointer;
}
.hover a{
    border: white 2px solid;
    border-radius: 100%;
}
.hover a svg{
    margin: 20px;
    fill: white;
}
.img-container:hover img{
    transform: scale(1.2);
}
.img-container:hover .hover{
    opacity: 1;
}