<h1 class="title-section">{{ title }}</h1>
<div class="sep"></div>
<div class="flex flex-col w-full gap-8">
  <div class="flex flex-wrap w-full p-end-13 gap-x-16 gap-y-11">
    <app-timeline-section
      [title]="education.title"
      [img]="education.img"
      [timeline]="education.educations"
    ></app-timeline-section>
    <app-timeline-section
      [title]="experience.title"
      [img]="experience.img"
      [timeline]="experience.experiences"
    ></app-timeline-section>
  </div>

  <div class="info-container">
    <h2 class="title-container">Honours in</h2>
    <div class="card-container">
      @for (honourAux of honours; track honourAux.title) {
        <app-about-card
          [title]="honourAux.title"
          [description]="honourAux.description || ''"
        ></app-about-card>
      }
    </div>
  </div>
  <div class="info-container">
    <h2 class="title-container">Certifications</h2>
    <div class="card-container">
      @for (certification of initialCertifications; track $index) {
        <app-about-card
          class="w-full"
          [title]="certification.title"
          [description]="certification.description || ''"
          [entity]="certification.entity"
          [date]="certification.date"
        ></app-about-card>
      }
    </div>
    @if (certifications.length > 4) {
      <div class="expand-wrapper" [class.expanded]="showAllCertifications">
        <div class="expand-inner">
          <div class="card-container extra-certs">
            @for (certification of extraCertifications; track $index) {
              <app-about-card
                class="w-full"
                [title]="certification.title"
                [description]="certification.description || ''"
                [entity]="certification.entity"
                [date]="certification.date"
              ></app-about-card>
            }
          </div>
        </div>
      </div>

      <div class="flex justify-center">
        <button class="pseudo-btn" (click)="toggleCertifications()">
          <span>{{ showAllCertifications ? 'Show Less' : 'Show More' }}</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="chevron-icon"
            [class.rotated]="showAllCertifications"
          >
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
        </button>
      </div>
    }
  </div>
  <div class="info-container">
    <h2 class="title-container">My Skills</h2>
    <div class="skills">
      <ul>
        <li [class.active]="selectedCategory === 'All'" (click)="filterByCategory('All')">All</li>
        @for (category of groupedSkills; track category.tag) {
          <li
            [class.active]="selectedCategory === category.tag"
            (click)="filterByCategory(category.tag)"
          >
            {{ category.tag }}
          </li>
        }
      </ul>
      <hr />
      @for (category of groupedSkills; track category.tag) {
        @if (selectedCategory === 'All' || selectedCategory === category.tag) {
          @for (item of category.skills; track item.name) {
            <div class="skill">
              <h3>{{ item.name }}</h3>
              <div class="progress-bar">
                <div class="progress" [style.width]="item.percentage + '%'"></div>
              </div>
            </div>
          }
        }
      }
    </div>
  </div>
</div>
